.circle-container {
  position: relative;
}

.outer-circle {
  background-color: white;
  transition: background-color 0.3s ease-in-out; /* Smooth color change for fallback */
}

.inner-circle {
  background-color: white;
}
.program-steps {
  transition: color 0.5s ease-in-out;
  color: black; /* Default text color */
}
